* {
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    display: none;
}

html {
    overflow: auto;
    -ms-overflow-style: none;
    /* IE 11 */
    scrollbar-width: none;
    /* Firefox 64 */
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header {
    height: 750px;
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: white;
}

section:nth-child(2n) {
    background: rgba(0, 0, 0, 0.9);
    color: white;
}
footer {
    background: rgba(0,0,0,0.9);
    color: white;
}

.overlay {
    height: 750px;
    flex-direction: column;
    align-items: center;
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    display: flex;
    top: 0;
    bottom: 0;
    left: 0;
    margin: 0;
}

.header__navLogo {
    width: 350px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__navLogo--img {
    width: 90%;
    height: 70%;
}

.header__nav--item {
    margin-left: 15px;
}

.header__nav--item a {
    text-decoration: none;
    color: white;
}

.header__nav--item a:hover {
    text-decoration: underline;
}


/*Capa del video*/

.header__layer {
    height: 750px;
    flex-direction: column;
    align-items: center;
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    display: flex;
    top: 0;
    bottom: 0;
    left: 0;
    margin: 0;
}


/*Video de fondo*/

.header__videoBackground {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: -1000;
}


/*Texto del header con el efecto de maquina de escribir*/

.header__text {
    height: 60%;
    letter-spacing: .5px;
    padding: 15px;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
}


/*Texto con efecto*/

.header__textTyped {
    text-align: center;
    padding: 10px;
    overflow: hidden;
    letter-spacing: 2px;
    animation: textTyping 5s steps(47, end), blink .75s step-end infinite;
    white-space: nowrap;
    font-size: 35px;
    font-weight: 700;
    border-right: 4px solid azure;
    box-sizing: border-box;
}

.header__textNormal {
    padding: 10px;
    text-align: center;
}


/*Tecolote */

.tecolote {
    padding: 10px;
    width: 90%;
    margin-top: 10px;
    height: auto;
}

/*Animaciones*/

@keyframes textTyping {
    from {
        width: 0%;
    }
    to {
        width: 100%;
    }
}

@keyframes blink {
    from,
    to {
        border-color: transparent;
    }
    50% {
        border-color: azure;
    }
}

@media (max-width: 860px) {
    .overlay{
        background: rgba(0,0,0,0.9);
    }
    .header__videoBackground{
        display: none;
    }
    .header__text {
        max-width: 80vw;
        font-size: 15px;
    }


    .header__textTyped {
        max-width: 100%;
        animation: none;
        font-size: 1.5em;
        border: none;
    }

    .tecolote {
        max-width: 100vw;
    }

}

@media (max-width: 710px){
    .header__textTyped {
        font-size: 20px
        letter-spacing: normal;
    }
}